html,
body {
	margin: 0;
}
ul {
	padding: 0;
	list-style: none;
}

li {
	cursor: pointer;
}
.main {
	width: 100vw;
	min-height: 100vh;
	box-sizing: border-box;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}

.dark {
	background: black;
	color: white;
}

.light {
	background: white;
	color: black;
}

.content {
	width: 80%;
	min-height: 400px;
	display: flex;
	flex-direction: column;
}

.about,
.posts,
.site-info {
	width: 100%;
	flex: 1;
}

pre {
	width: 320px;
}

.light code {
	background: hsl(220, 8%, 42%);
}

.light pre {
	white-space: pre-wrap;
	background: hsl(220, 8%, 42%);
}

.dark code {
	background: hsl(0, 0%, 4%);
}

.dark pre {
	white-space: pre-wrap;
	background: hsl(0, 0%, 4%);
}

.non-home-navigation {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
}

.list-item-active {
	font-weight: bold;
}

.menu-button {
	height: 50px;
	width: 50px;
	background: gray;
}

.show-nav {
	display: flex;
}

.hide-nav {
	display: none;
}
