html,
body {
	margin: 0;
}
.main {
	width: 100vw;
	min-height: 100vh;
	box-sizing: border-box;
}

.dark {
	background: black;
	color: white;
}

.light {
	background: white;
	color: black;
}
pre {
	width: 320px;
}

.light code {
	background: hsl(220, 8%, 42%);
}

.light pre {
	white-space: pre-wrap;
	background: hsl(220, 8%, 42%);
}

.dark code {
	background: hsl(0, 0%, 4%);
}

.dark pre {
	white-space: pre-wrap;
	background: hsl(0, 0%, 4%);
}
