:root {
	--full-opacity: 1;
	--mid-opacity: 0.9;
	--low-opacity: 0.3;
}

.dark {
	--bg-color: hsl(0, 0%, 0%);
	--text-color: hsl(0, 0%, 95%);
	--code-block-bg: #1d1f21;
	--code-block-color: #c5c8c6;
}

.light {
	--bg-color: hsl(0, 0%, 80%);
	--text-color: hsl(0, 0%, 0%);
	--code-block-color: #1d1f21;
	--code-block-bg: #c5c8c6;
}

html,
body {
	margin: 0;
	font-family: Helvetica Neue, Arial, sans-serif;
}
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

li {
	cursor: pointer;
}

.main {
	width: 100vw;
	min-height: 100vh;
	box-sizing: border-box;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	color: var(--text-color);
	background: var(--bg-color);
}

a {
	text-decoration: none;
	color: var(--text-color);
}

.theme-switcher-wrapper {
	top: 40;
	left: 80;
	position: absolute;
	width: 100px;
	height: auto;
	display: flex;
	flex-direction: column;
}

.theme-switcher-item {
	cursor: pointer;
	height: 40px;
	width: 100%;
}

.theme-toggle {
	left: 60;
	top: 0;
	height: 40px;
	width: 40px;
	justify-content: center;
	display: flex;
	align-items: center;
	position: absolute;
}

.theme-icon {
	box-sizing: border-box;
	position: relative;
	display: block;
	border: 2px solid;
	border-radius: 100px;
	width: 20px;
	height: 20px;
}

.theme-icon::after,
.theme-icon::before {
	content: '';
	box-sizing: border-box;
	position: absolute;
	display: block;
}

.theme-icon::before {
	border: 5px solid;
	border-top-left-radius: 100px;
	border-bottom-left-radius: 100px;
	border-right: 0;
	width: 9px;
	height: 18px;
	top: -1px;
	left: -1px;
}

.theme-icon::after {
	border: 4px solid;
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
	border-left: 0;
	width: 4px;
	height: 8px;
	right: 4px;
	top: 4px;
	color: var(--text-color);
}

.content {
	width: 80%;
	min-height: 400px;
	display: flex;
	flex-direction: column;
}

.content-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 0;
}

.content-footer-underline {
	width: 50%;
	height: 2px;
	background: var(--text-color);
}

.about,
.posts,
.site-info {
	width: 100%;
	flex: 1;
	padding-top: 10vh;
}

.about ul {
	margin: 15px 0;
	list-style-type: disc;
	padding-left: 40px;
}

.profile-img {
	width: 100%;
}

pre,
code {
	width: 100%;
}

code {
}

pre {
	white-space: pre-wrap;
	background: var(--code-block-bg);
	color: var(--code-block-color);
}

.home-navigation {
	flex: 1;
	justify-content: space-evenly;
	display: flex;
	flex-direction: column;
	padding-top: 10vh;
}

.non-home-navigation {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100vh;
	z-index: 1;
	opacity: var(--mid-opacity);
	color: var(--text-color);
	background: var(--bg-color);
	margin-bottom: 100px;
}

@media screen and (min-width: 900px) {
	.non-home-navigation {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		width: 100%;
		position: relative;
		flex: 0;
		opacity: var(--full-opacity);
		flex-wrap: wrap;
	}
}

.show-nav {
	display: flex;
}

.hide-nav {
	display: none;
}
@media screen and (min-width: 900px) {
	.hide-nav {
		display: flex;
	}
}

.nav-item {
	opacity: var(--mid-opacity);
	font-size: 3rem;
	font-weight: 300;
	text-decoration: underline;
	text-underline-position: under;
	transition: all 0.3s;
	margin-bottom: 15px;
}

@media screen and (min-width: 900px) {
	.non-home-navigation .nav-item {
		font-size: 1rem;
		text-underline-position: auto;
		margin-bottom: 0;
		min-width: 75px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.nav-item:hover,
.nav-item-active {
	font-weight: 400;
	opacity: var(--mid-opacity);
}

.menu,
.menu::after,
.menu::before {
	box-sizing: border-box;
	position: relative;
	display: block;
	width: 20px;
	height: 2px;
	border-radius: 3px;
	background: var(--text-color);
}

.menu::after,
.menu::before {
	content: '';
	position: absolute;
	top: -6px;
}

.menu::after {
	top: 6px;
}

.menu {
	top: 20;
}

.menu-button {
	position: absolute;
	top: 0;
	left: 10;
	display: flex;
	justify-content: center;
	height: 40px;
	width: 40px;
	z-index: 2;
}
@media screen and (min-width: 900px) {
	.menu-button {
		display: none;
	}
}
