.injected-app {
  img {
    margin-top: 30px;
  }
  ul {
    list-style-type: disc;
    padding-left: 30px;
  }
  ol {
    padding-left: 30px;
  }
  ol p {
    margin: 0;
  }
  h2 {
    font-size: 1.2em;
    opacity: 1;
    margin: 40px 0 10px 0;
  }
  h3 {
    font-size: 1em;
    opacity: 1;
    margin: 10px 0 5px 0;
  }
  figcaption {
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 20px;
  }
  main h2 {
    border-bottom: 1px solid var(--text-color-mod);
  }
}
